<app-modal #modal>
	<div class="app-modal-header"><i class="fa fa-fw fa-plus"></i>CADASTRAR NOVO CONTATO</div>

	<div class="app-modal-body">
		<form (#voterForm)="ngForm">
			<div class="form-group">
				<label>Nome*</label>
        <input class="form-control" name="name"
         [(ngModel)]="contact.name">
			</div>

			<div>
				<label>Gênero</label><br/>
				<select class="form-control" name="sel" 
					[(ngModel)]="contact.gender">
					<option disabled selected value="null">Escolha o seu gênero</option>
					<option *ngFor="let genero of generos" [ngValue]="genero">
						{{genero}}
					</option>
				</select>


			</div>
			<div class="form-group">
				<label>Data de Aniversário</label>
				<input class="form-control" name="share"
					   [(ngModel)]="contact.birthday"
					   placeholder="0000-00-00"
					   mask="0000-00-00">
			</div>
			<div class="form-group">
				<label>E-mail</label>
        <input class="form-control" name="email"
				 [(ngModel)]="contact.email"
				 placeholder="email@email.com">
			</div>
      <div class="form-group">
				<label>Telefone</label>
				<input class="form-control" name="phone"
					   [(ngModel)]="contact.phone"
					   placeholder="55 61 99999 9999"
					   mask="00 00 00000 0000">
			</div>
			<div class="text-right">*campos obrigatórios</div>
		</form>
	</div>

	<div class="app-modal-footer">
		<div class="row no-margin">
			<div class="col-md-6 no-padding">
				<button class="btn btn-danger" type="button" data-dismiss="modal" (click)="modal.hide()">
					<i class="fa fa-fw fa-times"></i> CANCELAR
				</button>
			</div>

			<div class="col-md-6 no-padding">
				<button class="btn btn-success" (click)="saveContact()">
					<i class="fa fa-fw fa-check"></i> SALVAR
				</button>
      		</div>
      	</div>
	</div>
</app-modal>