.LOGOCOMPANY {
	background-repeat: no-repeat;
	display: block;
	padding: 5px;
	background-size: 100%;
	width: 100px;
	height: 50px;
}

.language {
	font-size: small;
	padding-top: 15px;
}

	.language > ul.dropdown-menu {
		min-width: 130px;
		padding: 5px;
		text-align: center;
	}

	.language > ul > li > a {
		font-size: smaller;
		padding: 5px;
	}